CORS_ORIGINS=http://localhost:3000
SC2_WINPROB_PROVIDER=n3
SC2_N3_URL=https://c-vellames--sc2-winprob-n3-v1.modal.run
SC2_LIGHTGBM_URL=https://c-vellames--sc2-winprob-lightgbm-v1.modal.run
MODAL_PROXY_TOKEN_ID=
MODAL_PROXY_TOKEN_SECRET=
SC2_WINPROB_CONCURRENCY=1
REPLAY_UPLOAD_LOG_PATH=./data/replay_uploads.txt
REPLAY_UPLOAD_LOG_SALT=change-me-in-production
